#body-cart-list{
    width: 1200px;
    margin: 20px auto 0;
}
.content-header-cart-list{
    background-color: #f7f8f9;
    padding: 15px 15px;
    border-radius: 10px;
}
.content-header-cart-item{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    opacity: 0.9;
}
.ti-shopping-cart-big{
    color: black;
    font-size: 100px;
    border: 0;
    opacity: 0.8;
}
.ti-shopping-cart-big::before{
    content: "";
}

.cart-item-img-text{
    font-size: 14px;
    font-family: sans-serif;
    opacity: 0.8;
}
#footer-website-bottom{
    margin-top: 120px;
}