ul, body{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
:root {
    --color-website: #e95211;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-image: linear-gradient(to bottom, var(--color-website), #fcaf17);
}
body::-webkit-scrollbar-track{
    border-radius: 100rem;
}
/* HEADER ***********/
#header-website-top{
    width: 100%;
    margin: 0 auto;
}
.header-website{
    margin-top: 10px;
}
.header-logo{
    width: 70px;
    height: 70px;
}
.menu-website-list{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    margin-bottom: 0;
}
.menu-website-list li{
    width: calc(100% / 4);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-website-item{
    width: 100%;
    padding: 12px 0;
    font-size: 14px;
    color: white;
    font-family: sans-serif;
    text-align: center;
    transition: 0.3s linear;
    text-decoration: none;
}
.menu-website-item-padding{
    padding: 10px 0;
}
.menu-website-item:hover{
    color: var(--color-website);
    text-decoration: none;
    background-color: white;
}
.header-phone-location-search{
    display: flex;
    height: 35px;
    width: 70%;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.header-phone-number{
    display: flex;
    align-items: center;
}
.header-logo-number, .header-phone-number-item, 
.header-logo-location, .header-logo-search{
    color: var(--color-website);
}
.header-phone-location-search-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header-content-phone-number{
    font-size: 12px;
    font-family: sans-serif;
    font-weight: 600;
    margin-left: 10px;
}
.header-phone-number-item{
    font-size: 17px;
    font-weight: 600;
    font-family: sans-serif;
    margin-left: 3px;
}
.header-location-store{
    display: flex;
}
.header-logo-location{
    font-size: 20px;
}
.header-content-location{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 500;
    margin-left: 5px;
}
.header-search-product{
    display: flex;
    position: relative;
}
.header-input-search{
    font-size: 12px;
    outline: none;
    border: transparent;
    background-color: #f3f3f3;
    width: 350px;
    padding: 5px 0px 5px 15px;
    border-radius: 5px;
    height: 30px;
}
.header-input-search-height{
    height: auto;
}
.header-logo-search{
    position: absolute;
    top: 5px;
    right: 0;
    font-weight: 600;
    padding: 0px 15px 0 10px;
    text-decoration: none;
}
.header-logo-search:hover{
    text-decoration: none;
    color: var(--color-website);
}
.header-logo-website, .header-account-website{
    width: 15%;
}
.header-menu-website{
    width: 100%;
    height: 40px;
    background-color: var(--color-website);
}
.ti-user-logo, .ti-shopping-cart{
    font-size: 20px;
    color: var(--color-website);
    padding: 6px;
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0, 0.3);
    position: relative;
}

.account-header-list{
    display: flex;
    height: 100%;
    align-items: center;
}
.account-website{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 25px;
}
.logo-account-website, .cart-website{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    text-decoration: none;
}
.account-login-and-register::after{
    position: absolute;
    content: "";
    width: 100%;
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
}
.logo-account-website:hover{
    cursor: pointer;
}
.logo-account-website:hover .content-account-website-color{
    color: var(--color-website);
}
.logo-account-website:hover .account-login-and-register{
    display: block;
}
.title_cart_hea {
    width: 100% !important;
    height: auto !important;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    padding: 0 0 5px;
    margin-bottom: 0px;
    display: flex;
    align-items: center;
    color: #fff;
    background: #e95221;
    padding: 7px 10px;
    cursor: pointer;
}
.ajaxcart__row{
    display: flex;
    margin-top: 10px;
}
form.cart.ajaxcart.cartheader {
    width: 100%;
}
.ajaxcart-product-name{
    font-size: 13px;
    color: black;
}
.ajaxcart-product-name:hover{
    color: var(--color-website);
    text-decoration: none;
}

.cart-price{
    font-size: 13px;
    color: var(--color-website);
}
.cart-btn-proceed-checkout{
    width: 100%;
    background: #e95221;
    color: #fff;
    padding: 0px 10px;
    border-radius: 4px;
    font-size: 12px;
    border: 1px solid #e95221;
    height: 40px;
    line-height: 40px;
}
.cart__subtotal{
    display: flex;
    justify-content: space-between;
}
.cart__col-6{
    font-size: 15px;
    font-weight: 600;
}
.total-price{
    color: #ef1104;
}
.ajaxcart__footer{
    padding: 0 15px 10px;
}
.account-login-and-register{
    position: absolute;
    width: 140px;
    height: 60px;
    top: 100%;
    background-color: white;
    z-index: 2;
    border-radius: 5px;
    margin-top: 7px;
    display: none;
}.account-login-and-register::before{
    position: absolute;
    content: "";
    border: 9px solid;
    border-color: transparent transparent var(--color-website) transparent;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
}
.account-login-register-list:hover{
    background-color: var(--color-website);
    color: white;
    text-decoration: none;
}
.account-login-register-list:hover .ti-user-profile{
    background-color: var(--color-website);
    color: white;
    text-decoration: none;
}

.account-login-register-list{
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: black;
    transition: 0.2s linear;
    padding: 3px 0;
}
.account-login-register-logo{
    font-size: 17px;
}
.ccount-login-register-content{
    font-size: 14px;
    font-family: sans-serif;
    margin-left: 5px;
}
.cart-website:hover{
    text-decoration: none;
}
.total-product{
    position: absolute;
    color: white;
    margin-top: 0;
    text-align: center;
    line-height: 17px;
    font-size: 10px;
    font-family: sans-serif;
    background-color: var(--color-website);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: -2px;
    right: 5px;
    z-index: 5;
}
.content-account-website, .content-cart-website{
    font-size: 11px;
    font-family: sans-serif;
    color: black;
    margin-top: 10px;
}
.header-logo-and-account-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}
.header-input-search:focus ~ .header-input-history-all{
    display: block;
}
.click-delete-cart{
    float: right;
    font-size: 8px;
    color: black;
    margin-top: 5px;
    margin-right: 5px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: transparent;
}
.click-delete-cart:hover{
    color: var(--color-website);
    text-decoration: none;
    border-color: var(--color-website);
}
.header-input-history-all{
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 5;
    display: none;
}
.header-input-history-list{
    background-color: white;
    padding: 10px;
    height: 320px;
    box-shadow: 0px 1px 7px 0 #ccc;
    border-radius: 10px;
}
.input-history-img img{
    width: 70px;
    height: 70px;
}
.header-input-history-name-content{
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 600;
    opacity: 0.8;
    padding-bottom: 3px;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.header-input-history-item{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
}
.input-history-name-procduc-and-price{
    padding: 5px;
}
.input-history-name-procduc{
    font-size: 14px;
    font-family: sans-serif;
    color: #000;
}
.input-history-name-procduc div{
    line-height: 18px;
}
.input-history-name-procduc:hover{
    color: var(--color-website);
    text-decoration: none;
}
.input-history-product-price{
    font-size: 15px;
    font-weight: 600;
    color: red;
}
.input-history-delete{
    color: #000;
    padding: 7px;
    border-radius: 50%;
}
.input-history-delete:hover{
    color: black;
    opacity: 0.7;
    text-decoration: none;
    background-color: rgb(231, 231, 231);
}
.cart-website-heade{
    position: relative;
}
.cart-list{
    position: absolute;
    width: 340px;
    top: 100%;
    right: 0;
    background-color: white;
    z-index: 5;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    display: none;
}
.cart-website-header{
    position: relative;
}
.cart-cart{
    background-color: var(--color-website);
    color: white;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px 10px;
}
.cart-img-want-buy{
    width: 64px;
    height: 64px;
}
.cart-img-content-son{
    display: flex;
    padding: 10px 10px;
}
.cart-img-content{
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.content-img-want-buy{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 10px;
    color: black;
    margin-left: 10px;
}
.cart-prices-want-buy {
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}

.cart-total-content-prices{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.cart-total-content{
    font-weight: 600;
}
.cart-img-content-all{
    max-height: 243px;
    overflow-y: scroll;
}
.body-cart-content-cart{
    width: 100%;
    background-color: var(--color-website);
    color: white;
    padding: 5px 10px;
    font-size: 17px;
}
.body-product-img-name-prices-all{
    display: flex;
    padding: 30px 250px 30px 30px;
    align-items: center;
    justify-content: space-between;
}
.body-product-son{
    font-size: 13px;
    font-family: sans-serif;
}
.body-product-img-son{
    width: 80px;
    height: 80px;
}
.cart-img-content-all::-webkit-scrollbar{
	background-color: #fcaf17;
    width: 10px;
    height: 50px;
}
.cart-img-content-all::-webkit-scrollbar-track{
	border-radius: 20px;
	background-color: #fcaf17;
}
.cart-img-content-all::-webkit-scrollbar-thumb{
	border-radius: 20px;
	background-image: linear-gradient(to bottom, var(--color-website), #fcaf17);
}
.cart-total-prices, .cart-total-prices-cart{
    font-size: 17px;
    color: #ef1104;
}

.cart-total-prices-all{
    display: flex;
}
.cart-total-prices-all p{
    font-size: 17px;
    color: #ef1104;
}
.cart-buy a{
    text-align: center;
    display: block;
    width: 100%;
    background-color: var(--color-website);
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 0;
}
.cart-buy button{
    text-align: center;
    display: block;
    width: 100%;
    background-color: var(--color-website);
    border: 0;
    border-radius: 5px;
    color: white;
    padding: 5px 0;
}
.cart-buy a:hover{
    color: white;
    text-decoration: none;
}
.cart-buy{
    padding: 5px 10px;
}
.cart-prices-want-buy p{
   color: var(--color-website);
   font-size: 14px;
}
.body-product-prices-son{
    display: flex;
    justify-content: flex-end;
    padding: 0 10px;
}
.body-product-prices-son p{
    color: var(--color-website);
    font-size: 14px;
    margin-bottom: 0;
}
.content-img-want-buy:hover{
    text-decoration: none;
    color: var(--color-website);
}
.cart-website-header:hover .cart-list{
    display: block;
}
.cart-website-header:hover .content-account-website-color{
    color: var(--color-website);
}
.cart-list::before{
    position: absolute;
    content: "";
    top: -15px;
    right: 0;
    left: 0;
    height: 20px;
}
.nothing-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 5px;
}
.ti-bag{
    font-size: 80px;
    color: black;
    opacity: 0.7;
}
.cart-list-text{
    font-size: 13px;
    font-family: sans-serif;
    color: black;
    margin-top: 20px;
}
/* Body************************* */
#body-product{
    width: 1200px;
    margin: 0 auto;
}
.content-new-product{
    margin: 30px 0;
    text-align: center;
}
.name-content-news{
    position: relative;
    color: var(--color-website);
    font-size: 27px;
    font-family: sans-serif;
    font-weight: 600;
}
.name-content-news::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #e5e9ed;
    border-radius: 10px;
    bottom: -15px;
}
.name-content-news::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-website);
    border-radius: 10px;
    bottom: -15px;
}
.name-content-news:hover{
    color: var(--color-website);
    text-decoration: none;
}
.product-new-item-box{
    padding: 15px 10px 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 310px;
    justify-content: space-between;
}
.product-new-item-box-name-prices{
    height: 80px;
}
.product-trailer-new-background{
    background-color: #fcaf17;
    border-radius: 10px;
}
.product-new-item-box-img{
    width: 100%;
    height: 210px;
    overflow: hidden;
}
.product-new-item-img-item{
    width: 196px;
    height: 100%;
    transition: 0.2s linear;
    object-fit: cover;
}
.product-new-item-img-item:hover{
    transform: scale(1.2);
}
.product-trailer-new-list-all{
    padding: 30px 20px 0;
}
.product-trailer-new-list{
    margin: 0;
    display: flex;
    overflow-x: scroll;
    border-radius: 5px;
    padding-bottom: 7px;
    cursor: grab;
    padding-left: 0;
}
.product-trailer-new-list::-webkit-scrollbar{
	background-color: #fcaf17;
    height: 10px;
}
.product-trailer-new-list::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: #fcaf17;
}
.product-trailer-new-list::-webkit-scrollbar-thumb{
	border-radius: 10px;
	background-image: linear-gradient(to bottom, var(--color-website), #fcaf17);
}
.product-trailer-new-item{
    height: auto;
    background-color: white;
    margin-left: 20px;
    border-radius: 5px;
    width: calc(calc(100% / 5));
}
.product-trailer-new-item:first-child{
    margin-left: 0;
}
.product-new-item-box-name{
    font-size: 13px;
    font-family: sans-serif;
    text-decoration: none;
    color: black;
    height: 40px;
}
.product-new-item-box-name:hover{
    text-decoration: none;
    color: var(--color-website) !important;
}
.product-new-item-box-prices{
    color: red;
    font-size: 15px;
    font-weight: 600;
    display: flex;
}
/* Product-link ******************* */
#body-product-list-all{
    margin-top: 20px;
}
.product-link-box{
    width: 100%;
    z-index: 5;
    position: relative;
}
.product-link-item{
    margin-left: 20px;
    width: calc(calc(100% / 4) - 20px);
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
}
.product-link-box-img{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    transition: 0.2s linear;
}
.product-link-box-background:hover .product-link-box-img{
    transform: scale(1);
}
.product-link-box-background:hover::after{
    display: block;
    opacity: 0.8;
}
.product-link-box-background:hover::before{
    display: block;
    opacity: 0.6;
}
.product-link-box-background:hover .product-link-content-box{
    background-color: var(--color-website);
}
.product-link-box-background::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 3;
    display: none;
}
.product-link-box-background::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-10deg) rotate(-10deg) translateY(47%);
    background-color: var(--color-website);
    z-index: 5;
    display: none;
}
.product-link-list-item{
    display: flex;
    margin-left: -20px;
    flex-wrap: wrap;
}
.product-link-box-background{
    width: 100%;
}
.product-link-content-box{
    z-index: 8;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 220px;
    height: 40px;
    background-color: rgba(233,82,17,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-10deg) rotate(-10deg) translate(-50%, -50%);
}
.product-link-content-box:hover{
    text-decoration: none;
}
.product-link-content{
    font-size: 22px;
    font-family: sans-serif;
    color: white;
}
.product-sale-off-content{
    margin: 30px 0 40px;
    text-align: center;
}
.sale-off-name-content{
    color: var(--color-website);
    font-size: 30px;
    font-family: sans-serif;
    position: relative;
}
.sale-off-name-content::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #e5e9ed;
    border-radius: 10px;
    bottom: -15px;
}
.sale-off-name-content::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-website);
    border-radius: 10px;
    bottom: -15px;
}
.sale-off-name-content:hover{
    color: var(--color-website);
    text-decoration: none;
}
.product-sale-off-item{
    width: calc(calc(100% / 3) - 20px);
    margin-left: 20px;
}
.product-sale-off-img{
    width: 100%;
}
.product-sale-off-list{
    display: flex;
    margin-left: -20px;
}
.news-paper-content{
    margin: 30px 0 40px;
    text-align: center;
}
.news-paper-name-content{
    color: var(--color-website);
    font-size: 28px;
    font-family: sans-serif;
    position: relative;
}
.news-paper-name-content::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #e5e9ed;
    border-radius: 10px;
    bottom: -15px;
}
.news-paper-name-content::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-website);
    border-radius: 10px;
    bottom: -15px;
}
.news-paper-name-content:hover{
    color: var(--color-website);
    text-decoration: none;
}
.news-paper-list{
    width: calc(calc(100% / 4) + 20px);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    margin-left: 20px;
}
.news-paper-list:first-child{
    margin-left: 0;
}
.news-paper-img{
    width: 100%;
    transition: 0.25s linear;
}
.news-paper-img:hover{
    transform: scale(1.05);
}
.news-paper-list-all{
    display: flex;
    justify-content: center;
}
.news-paper-list-all-son{
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 7px;
    cursor: grab;
}
.news-paper-list-all-son::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

.news-paper-list-all-son::-webkit-scrollbar
{
	height: 10px;
	background-color: #F5F5F5;
}

.news-paper-list-all-son::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: rgb(85, 85, 85, 0.6);
}
.news-paper-recommend{
    position: absolute;
    top: 46%;
    width: 90%;
    background-color: white;    
    box-shadow: 0px 1px 5px var(--color-website);
}
.news-paper-recommend-son{
    padding: 7px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.news-paper-recommend-header{
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    -webkit-line-clamp: 2;
    height: 50px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    opacity: 0.9;
    color: black;
    text-align: center;
}
.news-paper-recommend-header:hover{
    color: var(--color-website);
    text-decoration: none;
}
.news-paper-item{
    width: 285px;
    box-shadow: 0px 1px 2px 0px black;
    overflow: hidden;
}
.news-paper-recommend-son::after{
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    top: 75px;
    margin: 0 15px;
    border: 1px solid var(--color-website);
}
.news-paper-recommend-day-time{
    color: white;
    background-color: var(--color-website);
    font-size: 12px;
    font-family: sans-serif;
    padding: 2px 7px;
    border-radius: 50px;
    margin-top: 7px;
    z-index: 5;
}
.news-paper-recommend-text{
    font-size: 14px;
    font-family: sans-serif;
    opacity: 0.8;
}
#body-news-paper{
    height: 420px;
}
/********* FOOTER ********/
#footer-website-bottom{
    margin-top: 40px;
    background-color: #222222;
}
#footer-website-all{
    width: 1200px;
    margin: 0 auto;
    padding: 30px 0;
    line-height: 20px;
}
.footer-website-list{
    display: flex;
}
.footer-website-item{
    width: calc(calc(100% / 4) - 20px);
    margin-left: 20px;
}
.footer-website-item:first-child{
    margin-left: 0;
}
.footer-website-item-header, .footer-website-item-contact-bold,
.footer-website-item-last, .footer-website-item-contact-text{
    color: white;
}
.footer-website-item-bold-first, .footer-website-item-contact-color,
.footer-website-item-location{
    color: var(--color-website);
}
.footer-website-item-header{
    font-size: 14px;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.footer-website-item-bold-first{
    font-size: 15px;
    font-family: sans-serif;
    line-height: 20px;
}
.footer-item-text-son{
    margin-top: 10px;
    line-height: 20px;
}
.footer-website-item-contact-bold{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
}
.footer-website-item-contact-color{
    font-size: 14px;
}
.footer-website-item-contact-color:hover{
    color: var(--color-website);
    text-decoration: none;
}
.footer-website-item-contact-text, .footer-website-item-last{
    font-size: 14px;
    font-family: sans-serif;
}
.footer-website-item-location{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.footer-website-item-location:hover{
    color: var(--color-website);
    text-decoration: none;
}
.footer-website-item-contact{
    margin-top: 10px;
    line-height: 20px;
}
.footer-website-item-text-a{
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    padding: 2px 0 2px 15px;
    position: relative;
}
.footer-website-item-text-li:hover .footer-website-item-text-a::before{
    background-color: var(--color-website);
} 
.footer-website-item-text-li:hover .footer-website-item-text-a{
    color: var(--color-website);
    text-decoration: none;
}
.footer-website-item-text-a::before{
    background-color: var(--color-website);
}
.footer-website-item-text-a::before{
    position: absolute;
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0;
    top: 8px;
    background-color: white;
}
.footer-website-item-text-li{
    color: white;
    margin: 10px 0 0 0;
    line-height: 20px;
}
.footer-website-item-text-li:hover{
    color: var(--color-website);
}
.footer-website-item-contact-icon{
    color: white;
    padding: 6px;
    border: 1px solid white;
    border-radius: 50%;
}
.footer-website-item-contact-icon:hover{
    color: var(--color-website);
    text-decoration: none;
    border-color: var(--color-website);
}
.footer-website-item-contact-icon:last-child{
    margin-left: 15px;
}
.footer-website-item-contact:last-child{
    display: flex;
    margin-top: 20px;
}