:root {
    --color-website: #e95211;
}
.body-website-login-list{
    width: 1200px;
    margin: 0 auto;
}
.body-website-login-item{
    width: 400px;
    height: 340px;
    margin: 20px auto 0;
    background-color: #fff;
    box-shadow: 0px 1px 69.16px 6.84px rgb(20 64 51 / 5%);
    border-radius: 10px;
}
.table-login-list{
    display: flex;
    flex-direction: column;
    padding: 15px 10px 0;
}
.login-content-list{
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-content-header{
    color: var(--color-website);
    font-size: 27px;
    font-weight: 600;
    position: relative;
}
.login-content-header::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 6px;
    background-color: #e5e9ed;
    border-radius: 10px;
    bottom: -15px;
}
.login-content-header::after{
    content: "";
    position: absolute;
    width: 30%;
    height: 6px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-website);
    border-radius: 10px;
    bottom: -15px;
}
.login-input-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.login-input-item{
    padding: 5px 20px;
    outline: none;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #e1e1e1;
    margin-bottom: 20px;
    width: 100%;
}
.login-input-item-buttom{
    background-color: var(--color-website);
    color: white;
    padding: 10px 20px;
}
.login-input-text-item{
    font-size: 14px;
    font-family: sans-serif;
    opacity: 0.8;
    float: right;
    color: black;
}
.login-input-text-item:hover{
    color: var(--color-website);
    text-decoration: none;
}