/* body */
body {
    font-size: 14px;
    color: #333e44;
}body, input, textarea, button, select {
    line-height: 1.7;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    color: #333e44;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}*, ::after, ::before {
    box-sizing: border-box;
}




/* html */
div {
    display: block;
}
:root {
    --swiper-navigation-size: 44px;
}
:root {
    --swiper-theme-color: #007aff;
}
:root {
    --mainColor: #E95211;
    --textColor: #231f20;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}.backdrop__body-backdrop___1rvky {
    position: fixed;
    opacity: 0;
    width: 100%;
    left: 0;
    top: 0 !important;
    right: 0;
    bottom: 0;
    background-color: #363636;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
element.style {
    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
}
.container
{
    width: 80%;
    height: auto;
    display: flex;
    margin: 0 auto;
    padding-top: 20px;
}
.left
{
    width: 280px;
    height: auto;     
}
.right
{
    width: 75%;
    height: auto;
}

@media only screen and (max-width: 600px)
{.container{
    display: block;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
        
    }
}
@media only screen and (max-width: 800px)
{.container{
    display: block;
    
    }
    .left{
        width: 100%;
        margin: 0 auto;
    }
    .right{
        width: 100%;
        margin: 0 auto;
    }
}






 /* hot_line */
.hot_line {
    position: fixed;
    left: 5px;
    z-index: 9999999;
    height: 40px;
    width: 190px;
    color: #fff;
    padding: 6px 0 2px 12px;
    bottom: 10px;
    background: #1D86F3;
    border-radius: 50px;
}.hotline-no a {
    color: #fff;
}

/* Giới thiệu */
.row {
    margin-right: -10px;
    margin-left: -10px;
}
.row {
    display: -ms-flexbox;
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: space-between;
}
.article-details.clearfix {
    margin-left: 20px;
}
element.style {
    font-size: 16px;
    font-family: arial,helvetica,sans-serif;
    text-align: center;
    text-transform: uppercase;
    padding: 10px 0;
    display: block;
    color: rgb(255, 0, 0);
}.article-main .article-title {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 26px;
    font-weight: 700;
    color: #333;
    line-height: 34px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
}
.h1, h1 {
    font-size: 2.5rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    font-weight: inherit;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.4;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}.rte h4 {
    font-size: 17px;
}
.article-main .posts {
    font-size: 12px;
    margin-bottom: 10px;
}.article-main .rte {
    font-size: 14px;
}.article-details a {
    color: #E95221;
}
div {
    display: block;
}.article-main .time-post {
    font-size: 14px;
    font-weight: 400;
    color: #acacac;
    display: inline-block;
    margin-right: 10px;
}
.article-main .posts {
    font-size: 12px;
    margin-bottom: 10px;
}.article-main .time-post svg {
    width: 15px;
    height: 15px;
    margin-top: -5px;
    margin-right: 2px;
}
svg:not(:root) {
    overflow: hidden;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}
user agent stylesheet
:not(svg) {
    transform-origin: 0px 0px;
}

.clearfix::after {
    display: block;
    clear: both;
    content: "";
}p {
    margin: 0 0 15px 0;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}em {
    font-style: italic;
}a, .text-link {
    color: #333e44;
    text-decoration: none;
    background: transparent;
}b, strong {
    font-weight: bolder;
}strong {
    font-weight: bold;
}.cn_list {
    margin-left: 20px;
}
ul {
    list-style: none outside;
    margin-bottom: 0px;
    padding-left: 0px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}li {
    display: list-item;
    text-align: -webkit-match-parent;
}.cn_list p {
    margin-bottom: 5px;
}i {
    font-style: italic;
}.clearfix::after {
    display: block;
    clear: both;
    content: "";
}






/* danh mục tin tức */




.aside-content-blog {
    padding: 10px 15px 10px;
    background-color: #f7f8f9;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    margin-bottom: 20px;
}.aside-content-blog .title-head {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 5px;
}.aside-content-blog .nav-category ul {
    padding: 0;
    margin: 0;
    list-style: none;
    flex-direction: column;
}.relative {
    position: relative !important;
}.aside-content-blog .nav-category ul .nav-item .nav-link.pr-5 {
    padding-right: 30px;
}.aside-content-blog .nav-category ul .nav-item .nav-link {
    display: block;
    padding: 8px 0;
    font-size: 14px;
}.aside-content-blog .nav-category ul .down_icon {
    width: 30px;
    height: 30px;
    top: 5px;
    right: 0;
    transition: 0.5s all;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
